.ol-list {
  margin: 0;
  padding: 0 8px;
}

.li-item {
  display: flex;
  list-style-type: none;
  margin: 8px 0;
  column-gap: 6px;
}

.item {
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  background: #eeeeee;
  padding: 8px 15px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.item:hover {
  cursor: pointer;
  border: 1px solid #0088cc;
}

.close {
  font-size: 20px;
  padding: 8px 20px;
  background: #eeeeee;
  border: 1px solid transparent;
  border-radius: 3px;
}

.close:hover {
  cursor: pointer;
  background: #0088cc;
  color: #ffffff;
}

.checked {
  text-decoration: line-through;
}

.empty-list {
  font-size: 16px;
}
