.footer {
  display: flex;
  column-gap: 15px;
  align-items: center;
  background: #000000;
  padding: 12px 16px;
  box-shadow: 3px 2px 10px #979797;
}

.copyright {
  color: white;
  font-size: 14px;
}

.name {
  color: white;
  font-size: 14px;
}
